body {
  background-color: #303030;
  color: #fff;
  padding: 0.5rem;
}

.navBar {
  display: inline-flex;
  align-items: center;
  width: 100vw;
  justify-content: space-evenly;
}

.cartButton {
  display: inline-flex;
  align-items: center;
  font-size: x-large;
}
